@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 600px;
    /* width: 1200px; */
    /* margin: auto;
    height: 100%;
    width: 100%; */
    /* display: flex; */
    /* display: inline; */
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-direction: row; */
    /* background-color: aquamarine; */
}

.card {
    /* background-color: beige; */
    width: 300px;
    /* position: relative; */
    box-shadow: 1px 2px 7px 4px rgb(209, 208, 208);
    border-radius: 5px;
    overflow: hidden;
    /* padding: 10px; */
    margin: 10px;
}

img {
    width: 300px;
    /* border-radius: 7px 7px 0px 0px; */
}

.text {
    font-size: .85rem;
    padding: 5px 9px;
    height: 50px;
    overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out;
}

.text-alt {
    font-size: .85rem;
    padding: 5px 9px;
    height: 330px;
    overflow: hidden;
    position: relative;
    /* background: linear-gradient(to top , rgba(rgb(255, 255, 255)),rgba(255, 255, 255, 0.135)); */
    transition: all .5s ease-in-out;
}

.text::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    background: linear-gradient( to top, rgb(255, 255, 255), transparent);
}

.see {
    /* position: relative; */
    font-size: .9rem;
    top: 0px;
    font-weight: 800;
    margin: auto;
    /* display: flex; */
    text-align: center;
    /* background-color: aqua; */
    padding: 7px;
    cursor: pointer;
}